<h2> Application information </h2>

<p> Name: <%= "#{@application.name}" %> </p>
<p> Address: <%= "#{@application.address}" %> </p>
<p> City: <%= "#{@application.city}" %> </p>
<p> State: <%= "#{@application.state}" %> </p>
<p> Zip: <%= "#{@application.zip}" %> </p>
<p> Phone number: <%= "#{@application.phone_number}" %> </p>
<p> Description: <%= "#{@application.description}" %> </p>

<p> Pets: </p>

<%= form_tag "/pets", method: :patch do %>
  <% @application.pets.each do |pet| %>
      <span id= "check_<%= pet.id %>">
        <%= check_box_tag "pet_ids[]", pet.id %>   
      </span>
      <span id= <%= "pet_#{pet.id}" %> %>
      <%= link_to pet.name, "/pets/#{pet.id}"  %> 
      <% if pet.adopted? == "Adoptable" %>
          <%= link_to "Approve Application", "/pets/#{pet.id}/#{@application.id}", method: :patch %> <br> 
      <% end %>
      </span>
  <% end %> 
  <%= submit_tag 'Submit' %>
<% end %>


  

