<h2> Application information </h2>

<p> Name: <%= "#{@application.name}" %> </p>
<p> Address: <%= "#{@application.address}" %> </p>
<p> City: <%= "#{@application.city}" %> </p>
<p> State: <%= "#{@application.state}" %> </p>
<p> Zip: <%= "#{@application.zip}" %> </p>
<p> Phone number: <%= "#{@application.phone_number}" %> </p>
<p> Description: <%= "#{@application.description}" %> </p>

<p> Pets: </p>

<% @application.pets.each do |pet| %>
    <span id= <%= "pet_#{pet.id}" %> %>
    <%= link_to pet.name, "/pets/#{pet.id}"  %> <%= link_to "Approve Application", "/pets/#{pet.id}/#{@application.id}", method: :patch %> <br> 
    </span>
<% end %> 
