<h2><%= @pet.name %>:</h2>

<p><%= image_tag(@pet.image) %></p>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Description: <%= @pet.description %></p>
<p>Availability: <%= @pet.adopted? %></p>
<% if  @pet.adopted? == "Pending" %>
  <p> On hold for <%= "#{@pet.applications[0].name}" %> </p>
<% elsif @pet.applications.empty? == true %>
  <%= link_to "Delete #{@pet.name}", "/shelters/#{@pet.shelter.id}/pets/#{@pet.id}", method: :delete %> /
<% end %>
<%= link_to "Update #{@pet.name}'s Profile", "/shelters/#{@pet.shelter.id}/pets/#{@pet.id}/edit" %> /


<% if favorites.pets.keys.include?(@pet.id.to_s) %>
  <%= link_to 'Remove from Favorites', "/favorites/#{@pet.id}", method: :delete %>
    <% else %>
      <%= link_to "Add to Favorites", "/favorites/#{@pet.id}", method: :patch %> /
<% end %>


<%= link_to "All Applications", "/pets/#{@pet.id}/applications" %>
